---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import DirectoryPreview from '../components/DirectoryPreview.astro';
import Features from '../components/Features.astro';
import Steps from '../components/Steps.astro';
import Testimonials from '../components/Testimonials.astro';
import Consultation from '../components/Consultation.astro'; // <-- We imported your new form here!
import Footer from '../components/Footer.astro';
---

<Layout title="Find Trusted Domestic Helpers">
  <Navbar />
  
  <main>
    <Hero />
    
    <DirectoryPreview />
    
    <Features />
    
    <Steps />

    <Testimonials />
    
    <Consultation /> 
  </main>

  <Footer />
</Layout>